.list-credit-card{
    margin: 20px;
    // width: 60%;
}
.bg-success{
    background-color: green;
}
.bg-fail{
    background-color: red;   
}
.bg-new {
    background-color: blue; 
}
.bg-info{
    background-color:beige 
}
